

.formulario{
    margin:230px auto;
    width: 320px;
}

body {
    background-image: url("background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
  }

  #Bienvenido {
      color: white;
      font-family: 'Roboto';
  }


  button {
    margin:0px auto;
    width: 320px;   
  }

  #registro {
    float: right;
    margin-top: 5px;   
      
  }

  /*REGISTRO*/

  .formularioregistro {
    margin:100px auto;
    width: 320px;
  }