

.formulario{
    margin:230px auto;
    width: 320px;
}


body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
  }

  .titulo {
      color: white;
      font-family: 'Allura', cursive;
      font-size: 70px;

  }
  
  .registrado {
    color: white;
    font-family: 'Allura', cursive;
    font-size: 30px;
  }

  button {
    margin:0px auto;
    width: 320px;   
  }

  #registro {
    float: right;
    margin-top: 5px;   
      
  }

  /*REGISTRO*/

  .formularioregistro {
    margin:100px auto;
    width: 320px;
  }

  .blanca {
    color:white;

  }